@model PiDevCRM.Domain.Entities.Claims

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Claims</h4>
    <hr />
    <dl class="dl-horizontal">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
        <dt>
=======
        @* <dt>
>>>>>>> Stashed changes
=======
        @* <dt>
>>>>>>> Stashed changes
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClient)
        </dd>
<<<<<<< Updated upstream
<<<<<<< Updated upstream

=======
        *@
>>>>>>> Stashed changes
=======
        *@
>>>>>>> Stashed changes
        <dt>
            @Html.DisplayNameFor(model => model.ClaimDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
