@model PiDevCRM.Domain.Entities.gmail

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailSetup</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("EmailSetup", "ClaimAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <center>
                <table>
                    <tr>
                        <td style="width:100px">
                            To:
                        </td>
                        <td>@Html.TextBoxFor(model => model.To)</td>
                    </tr>
                    <tr>
                        <td>
                            Subject:
                        </td>
                        <td>@Html.TextBoxFor(model => model.Subject)</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Body:
                        </td>
                        <td>@Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "25" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Send" />
                        </td>
                    </tr>

                </table>
                <br />

<<<<<<< Updated upstream
                <span style="color:blue">@ViewBag.Message</span>
=======
                <span style="color:green">@ViewBag.Message</span>
>>>>>>> Stashed changes
            </center>
        }


    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
