@model IEnumerable<PiDevCRM.Domain.Entities.Claims>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        @*
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_filter" id="dataTable_filter">
                <label>
                    Search:
                    <input class="form-control form-control-sm" aria-controls="dataTable" type="search" placeholder="" />
                </label>

            </div>
        </div>
        *@
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.IdClient)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.ClaimDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.typeClaims)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.statustype)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Answer)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @*  <td>
                            @Html.DisplayFor(modelItem => item.IdClient)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ClaimDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeClaims)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.statustype)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            @*   @Html.ActionLink("Edit", "Edit", new { id = item.IdClaims }) | *@
                            @Html.ActionLink("Details", "Details", new { id = item.IdClaims }) |
                            @Html.ActionLink("Reply", "Reply", new { id = item.IdClaims }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdClaims }) |
                            @Html.ActionLink("EmailSetup", "EmailSetup", new { id = item.IdClaims })

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


