@model IEnumerable<PiDevCRM.Domain.Entities.Stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stockname)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.stockname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ref_Stock }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ref_Stock }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ref_Stock })
        </td>
    </tr>
}

</table>
