@model IEnumerable<PiDevCRM.Domain.Entities.Stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}







<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Stock List</h6>
</div>
<div class="card-body">

    @Html.ActionLink("Create New", "Create")
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.stockname)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.stockname)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Ref_Stock }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Ref_Stock }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Ref_Stock })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>


