@model IEnumerable<PiDevCRM.Domain.Entities.Pack>

@{
    ViewBag.Title = "IndexFrontPAck";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/ContentFront/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/ContentFront/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/ContentFront/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/ContentFront/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/ContentFront/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/ContentFront/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<nav id="navigation">

    <div class="container">

        <div id="responsive-nav">

            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
            </ul>

        </div>

    </div>

</nav>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">

                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                @foreach (var item in Model)
                                {
                                    <div class="product">
                                        <div class="product-img">
                                            @{ string path = "~/Content/uploads/" + @item.PackImage;}
                                            <img src="@Url.Content(path)" alt="" height="200" width="60" />
                                            <div class="product-label">
                                                @*<span class="sale"></span>*@
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">

                                            <h3 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.PackName)</a></h3>
                                            <h4 class="product-price">@Html.DisplayFor(modelItem => item.PackPrice)</h4>




                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                @*<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">@Html.ActionLink("Quick View", "Details", new { id = item.IdProduct })</span></button>*@
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                    </div>

                                }
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/ContentFront/js/jquery.min.js"></script>
<script src="~/ContentFront/js/bootstrap.min.js"></script>
<script src="~/ContentFront/js/slick.min.js"></script>
<script src="~/ContentFront/js/nouislider.min.js"></script>
<script src="~/ContentFront/js/jquery.zoom.min.js"></script>
<script src="~/ContentFront/js/main.js"></script>

@*<table class="table">
        <tr>



            <th>
                @Html.DisplayNameFor(model => model.PackName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackImage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PackName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackImage)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.IdPack }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdPack }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdPack })
                    </td>
            </tr>
        }

    </table>*@
