@model IEnumerable<PiDevCRM.Domain.Entities.Product>

@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product list</title>
   
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9pt;
        }
    </style>
</head>
<body>
    <h4>products</h4>
    <hr />
    <div id="Grid">
        <table cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Availability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>

            </tr>
            @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Price)

                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
            </tr>
            }
        </table>
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Export", "Product" +
        "", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
</body>
</html>

